.cancelBtn {
  margin: 20px auto 0;
  border-radius: 3em;
  /* border: solid 1px #777f8b46; */
  color: rgb(83, 67, 65);
  background: linear-gradient(
    to right,
    #f3a15d 0%,
    #ea2a2abb 50%,
    #f3a15d 100%
  );
  background-size: 200%;
  background-position: 100%;
  color: #524240;
  /* box-shadow: 3px 3px 6px #cbced1, -1px -1px 6px #cbced1; */
  transition: all 0.7s;
}

.cancelBtn:hover {
  background: linear-gradient(to right, #fcca88 0%, #ea2a2a 50%, #fcca88 100%);
  background-size: 200%;
  background-position: 0px;
  box-shadow: none;
  /* border: solid 1px #fcfcfc; */
}
