@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  font-family: 'Dancing';
  /* margin-right: -50px; */
  /* width: 100%; */
  /* margin-top: -15px; */
  /* margin-right: 50px; */
  /* padding: 0px; */
  color: #fff;
  /* text-shadow: -4px -3px 5px rgba(59, 22, 4, 0.425); */
  font-weight: 600;
  text-shadow: -2px -1px 2px rgb(59, 22, 4, 0.425);
  font-size: 20px;
}
