@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.container {
  font-family: Dancing, cursive;
  letter-spacing: 0.4rem;
  color: #fff;
  text-shadow: -2px -1px 2px rgb(59, 22, 4, 0.425);
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* margin-right: -50px; */
  /* margin-top: -15px; */
  /* margin-right: 50px; */
  /* padding: 0px; */
  /* text-shadow: -4px -3px 5px rgba(59, 22, 4, 0.425); */
}
